temp/
part3/temp
part3_practice/
part3/Phonebook-Backend/.env
part3/Phonebook-Backend/node_modules
part3/Phonebook-Database/node_modules
part4/BlogListApp/node_modules
part4/BlogListApp/.env
part4/BlogListApp/temp.js